/*-------------------------
		  CLEAR
-------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------
		  BODY
-------------------------*/

body {
  background: #4b6ecc;
  font-family: 'Raleway', sans-serif;
}

body.dashboard {
	background: #f9f9f9;
}

span {
  color: #4b6ecc;
}

/*-------------------------
        LANDING
-------------------------*/

.landing.container {
  padding-top: 100px;
}

button.btn.btn-default.landing {
  margin-bottom: 20px;
}

.blurb {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin: 20px;
  font-size: 18px;
  font-weight: 500px;
}

div.col-md-6.text-center {
  border: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 25px;
  background: #4b6ecc;
}

.navbar-fixed-bottom.landing {
  color: #4b6ecc;
  text-align: right;
  padding: 24px;
  background: #fff;
  vertical-align: middle;
}

.author-credit {
  display: inline;
}

h1.title {
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
  margin-top: -50px;
  margin-bottom: -30px;
}

.github-octocat {
  margin: auto;
  margin-top: 20px;
  display: block;
  height: 40px;
  width: 40px;
}


span.close {
	width: 5%;
}

.blurb {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin: 20px;
  font-size: 18px;
  font-weight: 500px;
}

/*-----------------------------
	UPDATE BOX/DASHBOARD
------------------------------*/

.results-container {
  margin-top: 20px;
  margin-bottom: 20px;
}


.add-album {
  margin: auto;
}

a:hover {
  text-decoration: none;
}

a.signout {
  float: right;
  margin-right: 20px;
}

.btn-group {
	display:inline-block;
	margin-top:40px;
	vertical-align:middle;
}

#add-album-btn {
	display: none;
}

.btn-group button {
	margin-left:170px;
}
button.update {
	margin-bottom: 20px;
}

table tr td div.btn-group {
	display:none;
}

table tr:hover td div.btn-group {
	display:inline-block;
	vertical-align: middle;
}

table tr.entry:hover {
	background-color:#f9f9f9;
}

.close {
	margin-bottom: 10px;
	margin-right:10px;
}

/*-------------------------
TEXT
-------------------------*/

div.col-md-6.text-center {
  border: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 25px;
  background: #4b6ecc;
}

.search-result {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.search-result:hover {
  cursor: pointer;
  background-color: #fff;
}

.search-bar {
  width: 100%
}

.container-fluid.app {
  padding-left: 0px;
  padding-right: 0px;
}

h2.greeting {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.header.logo {
  width: 25%;
	margin-top:-80px;
	margin-bottom:-20px;
}

.albumArt {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.impression {
  text-align:left;
}

.rating {
  text-align:center;
}

.entry {
  border: 1px, solid, #000;
}

.updateBox {
  position: absolute;
  margin: auto;
  border-style: solid;
  border: 1px;
  border-radius: 5px;
}

header {
  background-color: #4b6ecc;
}

.navbar {
	vertical-align: middle;
}

.update.close {
	text-align: right;
}

div.update {
  margin-left: 50px;
}

header.navbar {
  border-radius: 0;
}

tbody {
	background-color: white;
}

.btn {
  margin: 0 10px 0 10px;
  font-weight: 500;
}

.add-album {
  margin: auto;
}

a:hover {
  text-decoration: none;
}

a.signout {
  float: right;
  margin-right: 20px;
}

.btn-group {
	display:inline-block;
	margin-top:40px;
	vertical-align:middle;
}

.btn-group button {
	margin-left:170px;
}

button.update {
	margin-bottom: 20px;
}

table tr td div.btn-group {
	display:none;
}

table tr:hover td div.btn-group {
	display:inline-block;
	vertical-align: middle;
}

table tr.entry:hover {
	background-color:#f9f9f9;
}

.close {
	margin-bottom: 10px;
	margin-right:10px;
}

/*--------------------------
          SIGN IN
---------------------------*/
.signin {
	font-size: 25px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
	@include box-sizing(border-box);

	&:focus {
	  z-index: 2;
	}
}
/*-------------------------
      	  SIGN UP
---------------------------*/

.signup {
	font-size: 20px;
}

.form-signup {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
	@include box-sizing(border-box);

	&:focus {
	  z-index: 2;
	}
}


td {
	vertical-align: middle;
}
